	
<section id="footer">
	<section class="footer-links">
		<ul>
			<li><%= link_to "Home", "#" %></li> |
			<li><%= link_to "About Us",  "#" %></li> |
			<li><%= link_to "How it Works",  "#" %></li> |				
			<li><%= link_to "Register Your Bottle Service",  new_bar_path %></li>
		</ul>
	</section>
	<section id="copy_right">
		Copyright 2011 by Diligence. All Rights Reserved.
	</section>		
</section>	